.rental_office {
  width: 100%;
  height: calc(100% - 120px);
  overflow: hidden;

  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map_title {
  font-size: var(--medium-title);
  text-align: center;
  margin: 35px 0;
}
.map_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--dark-blue);
  width: 1200px;
  height: 800px;
}
.map {
  width: 80%;
  height: 80%;
  border: 1px solid var(--black);
  position: relative;
}
.reload_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9;

  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
}
.reload_btn i {
  font-size: var(--large-text);
  color: var(--dark-blue);
}
.map_rental {
  display: none;
}

@media all and (max-width: 767px) {
  .rental_office {
    height: calc(100% - 90px);
    margin-top: 90px;
  }
  .map_title {
    display: none;
  }
  .map_wrap {
    width: 100%;
    height: 100%;
    border: none;
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .reload_btn {
    width: 40px;
    height: 40px;
    bottom: 43px;
  }
  .map_rental {
    display: block;
    width: 150px;
    height: 50px;
    margin: 20px 0;
    background-color: var(--dark-blue);
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: var(--medium-text);
    font-weight: bold;
    color: var(--white);

    position: absolute;
    bottom: 20px;
    z-index: 9;
  }
}