@import url('/css/reset.css');
@import url('/css/variables.css');
@import url('/css/Main_navigation.css');
@import url('/css/footer.css');

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--Main-kr);
}

/* === Main Section === */
.main-article-section {
  width: 100vw;
}
.main-pics {
  width: 100vh;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

/* Main Image Slider */
.main-pics .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-pics .slide{
  display: none;
}
.main-pics .slide.active {
  display: block;
  transition: all 0.2s;
}
.images {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.images01 {
  background: url('/img/homepagesimage/main01.jpg') no-repeat center center;
  background-size: cover;
}
.images02 {
  background: url('/img/homepagesimage/main02.jpg') no-repeat left center;
  background-size: cover;
}
.images03 {
  background: url('/img/homepagesimage/main03.jpg') no-repeat center center;
  background-size: cover;
}
.images::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

/* Main image Section Text */
.images .imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
  animation: Updown 1s linear;
}
.images .imageText h2 {
  font-size: var(--large-title);
  letter-spacing: 2px;
  font-weight: normal;
}
.imageText h2 em {
  color: var(--yellow);
  font-style: normal;
}
.imageText em {
  font-style: normal;
  font-weight: bold;
}
.imageText p {
  font-size: var(--small-title);
}
.imageText p:nth-of-type(1) {
  margin-top: 20px;
}
.images01 .rentalBtn {
  display: none;
}
.rentalBtn {
  margin-top: 20px;
  padding: 20px 30px;
  font-size: var(--large-text);
  font-weight: bold;
  color: var(--dark-blue);
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.rentalBtn:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  transition: 0.8s;
}
.images03 .rentalBtn:last-child {
  margin-top: 30px;
  margin-left: 25px;
}

/* Main image Section Text Animation */
@keyframes Updown {
  0% {
    opacity: 0;
    top: 40%;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Main Slider Left Right */
.slideBtn {
  width: 100vw;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.main-article-section .fa-angle-left,
.main-article-section .fa-angle-right {
  font-size: var(--large-title);
  color: var(--white);
  opacity: 0.3;
  transition: 0.5s;
}
.fa-angle-left:hover,
.fa-angle-right:hover {
  opacity: 1;
}

/* Main Section Down */
.fa-angle-down {
  position: absolute;
  bottom: 30px;
  left: 50vw;
  transform: translateX(-50%);
  font-size: var(--small-title);
  color: var(--white);
  animation: downScroll 0.8s ease-in-out infinite;
}
@keyframes downScroll {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(25px);
  }
  60% {
    transform: translateY(20x);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* === Problem Section === */
.problem {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.problem span {
  font-size: var(--medium-title);
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
}
.problem .bold {
  font-weight: bold;
  color: var(--dark-blue);
}

/* === Raise Problem Section === */
.raiseProblem {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  position: relative;
  opacity: 0;
  transition: all 0.8s;
}

/* Problem Section */
.raiseProblem .problem_section1,
.raiseProblem .problem_section2 {
  display: flex;
  gap: 3.125rem;
  transition: 0.8s;
}
.raiseProblem .problem_section1 {
  transform: translateX(100%);
}
.raiseProblem .problem_section2 {
  transform: translateX(-100%);
}
.problem_section1 .photo,
.problem_section2 .photo {
  width: 1000px;
  height: 1150px;
  border-radius: 20px;
  overflow: hidden;
}
.problem_section1 .photo img,
.problem_section2 .photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.8s;
}

.problem_section2 .photo {
  border-radius: 0 20px 20px 0;
}
.problem_section1 .photo:hover img,
.problem_section2 .photo:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}

/* Problem Section Text */
.problem_section1 .head_text,
.problem_section2 .head_text {
  width: 850px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: var(--white);
  /* transform: scale(1.2); */
}
.problem_section1 .head_text::after {
  content: '';
  width: 104%;
  height: 50%;
  background: url('/img/homepagesimage/uzb4_s30n_161109.png') no-repeat center right;
  background-size: cover;
  position: absolute;
  bottom: -2%;
  right: -23%;
  filter: grayscale(1);
  opacity: 0.2;
}
.problem_section2 .head_text::after {
  content: '';
  width: 118%;
  height: 85.2%;
  background: url('/img/homepagesimage/2563003.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0%;
  right: -17.8%;
  filter: grayscale(1);
  opacity: 0.2;
  border-radius: 20px 0 0 20px;
}

.problem_section2 .head_text {
  margin-right: 100px;
}
.head_text h3{
  font-size: 58px;
  margin-bottom: 0.9375rem;
  /* margin-bottom: 15px; */
}
.head_text p {
  text-align: center;
  font-size: var(--large-text);
  margin-right: 1.875rem;
  /* margin-right: 30px; */
}
.head_text p:nth-of-type(2){
  margin-bottom: 0.9375rem;
  /* margin-bottom: 15px; */
}
.head_text em {
  font-style: normal;
  font-weight: bold;
}
.head_text span {
  font-size: var(--medium-text);
  margin-right: 1.875rem;
}
/* Problem Section 02 */
.problem_section2 .photo {
  margin-top: 12.5rem;
  /* margin-top: 200px; */
  order: 2;
}

/* === Solution section === */
.solutions {
  margin: 200px 0;
  display: flex;
  gap: 100px;
}
.solution_1,
.solution_2,
.solution_3 {
  width: 600px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transform: translateY(-30%);
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 1);
}
.solution_2 {
  transition-delay: 0.3s;
}
.solution_3 {
  transition-delay: 0.6s;
}
.solution_1 img,
.solution_2 img,
.solution_3 img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  opacity: 0.75;
  transition: 0.5s linear;
}
.solution_1 img:hover,
.solution_2 img:hover,
.solution_3 img:hover {
  transform: scale(1.1);
}
.solution_1 .solutionText,
.solution_2 .solutionText,
.solution_3 .solutionText {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  color: var(--white);
}
.solution_1 .solutionText h3,
.solution_2 .solutionText h3,
.solution_3 .solutionText h3 {
  font-size: var(--large-text);
}
.solution_1 .solutionText p, 
.solution_2 .solutionText p,
.solution_3 .solutionText p {
  margin-left: 15px;
  padding: 10px 10px 10px 0;
  font-weight: normal;
}
.solution_1 .solutionText p:last-child,
.solution_2 .solutionText p:last-child,
.solution_3 .solutionText p:last-child {
  padding: 0 10px 10px 0;
  font-weight: normal;
}
.solution_1 .solutionText span, 
.solution_2 .solutionText span,
.solution_3 .solutionText span {
  font-weight: bold;
}

/* === ESG Section === */
.esgs {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.esginner {
  width: inherit;
  height: 50vh;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}
#mapFrame {
  width: 100%;
  height: 100%;
  border: none;
}
/* .esginner::before {
  content: '';
  background-color: black;
  width: inherit;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
} */
/* .esginner img {
  width: inherit;
  height: 50vh;
  object-fit: cover;
  opacity: 0.85;
  position: relative;
} */
/* .esginner .esgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
} */
/* .esgText span {
  display: block;
  text-align: center;
  font-size: var(--small-title);
  font-weight: bold;
  transform: translateY(-50%);
  transition: transform 0.5s;
}
.esgText span:first-child {
  margin-bottom: 10px;
} */

/* === Rental FAQ Section === */
.rental_faq {
  padding-top: 150px;
}
.rental,
.faq {
  width: 1140px;
  height: 500px;
  position: relative;
  overflow: hidden;
  transition: transform 0.8s;
}
.rental {
  transform: translateX(-100%);
}
.faq {
  transform: translateX(100%);
}
.rental img, 
.faq img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 30px;
}
/* Rental */
.rental .rentalText {
  position: absolute;
  flex-direction: column;
  top: 20%;
  right: 10%;
}
.rentalText span {
  display: block;
  color: var(--white);
  font-size: var(--large-text);
}
.ticketBtn {
  display: block;
  float: right;
  font-size: var(--large-text);
}
/* FAQ */
.faq {
  margin: 150px 0;
}
.faq .rentalText {
  position: absolute;
  top: 20%;
  left: 10%;
}
.faq .rentalText span {
  color: var(--black);  
}
.FaqBtn {
  width: 250px;
  font-size: var(--large-text);
}


/* Mobile Main CSS */

@media all and (max-width: 767px) {
  /* === Main Section === */
  .main-pics {
    height: auto;
    min-width: 100vw;
    position: relative;
  }
  /* Main Image Slider */
  .main-pics .slide {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .images02 {
    background: url('/img/homepagesimage/main02.jpg') no-repeat center center;
    background-size: cover;
  }
  /* Main image Section Text */
  .images .imageText {
    width: 80vw;
  }
  .images .imageText h2 {
    display: block;
    font-size: var(--large-text);
    text-align: left;
  }
  .images03 .imageText h2 {
    width: 55vw;
  }
  .imageText p {
    display: none;
  }
  .images01 .rentalBtn {
    display: inline-block;
    text-align: center;
  }

  .rentalBtn {
    margin-top: 30px;
    padding: 16px 26px;
    font-size: var(--medium-text);
    font-weight: bold;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    border-radius: 50px;
  }
  .images03 .rentalBtn {
    display: none;
  }
  /* Main Slider Left Right */
  .main-article-section .slideBtn {
    display: none;
  }
  .fa-angle-down {
    display: none;
  }

  /* === Problem Section === */
  .problem span {
    font-size: var(--large-text);
  }
  /* === Raise Problem Section === */
  .raiseProblem {
    width: 100vw;
  }
  /* Problem Section */
  .problem_section1,
  .problem_section2 {
    width: inherit;
    gap: 0;
  }
  .raiseProblem .problem_section1 {
    padding-left: 20px;
    flex-direction: column;
    transform: translateY(-30%);
    opacity:0;
    align-items: start;
  }
  .raiseProblem .problem_section2 {
    padding-right: 20px;
    flex-direction: column-reverse;
    transform: translateY(-30%);
    opacity:0;
    align-items: end;
  }
  .problem_section1 .photo,
  .problem_section2 .photo {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;
  }

  /* Problem Section Text */
  .problem_section1 .head_text,
  .problem_section2 .head_text {
    align-items: start;
  }
  .problem_section1 .head_text {
    margin-left: 20px;
  }
  .problem_section2 .head_text {
    align-items: end;
    margin-right: 20px;
  }
  .head_text h3{
    font-size: var(--large-text);
  }
  .head_text p {
    text-align: left;
  }

  /* === Solution section === */
  .solutions {
    width: 100vw;
    padding: 20px;
    flex-direction: column;
  }
  .solution_1,
  .solution_2 {
    width: 350px;
    height: 500px;
    opacity: 0;
  }
  .solution_1 {
    transform: translateX(100%);
  }
  .solution_2 {
    transform: translateX(-100%);
    transition-delay: none;
  }
  .solution_1 .solutionText,
  .solution_2 .solutionText {
    padding: 15px;
  }
  .solution_1 .solutionText h3,
  .solution_2 .solutionText h3 {
    font-size: var(--large-text);
  }
  .solution_1 .solutionText p, 
  .solution_2 .solutionText p {
    padding: 5px 0px;
    font-size: var(--medium-text);
  }

  /* === ESG Section === */
  .esgs {
    width: 100vw;
  }
  .esgText span {
    font-size: var(--large-text);
  }

  /* === Rental FAQ Section === */
  .rental,
  .faq {
    width: 95vw;
    height: 80vh;
    position: relative;
    border-radius: 30px;
  }
  /* rental */
  .rental {
    background: url('/img/homepagesimage/rentaMobilel.png') no-repeat;
    background-size: cover;
    background-position: left center;
  }
  .rental img, 
  .faq img {
    display: none;
  }
  .rental .rentalText {
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 0;
  }
  .ticketBtn {
    display: block;
    float: left;
    font-size: var(--medium-text);
  }

  /* faq */
  .faq {
    background: url('/img/homepagesimage/faqMobile.png') no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .FaqBtn {
    width: 125px;
    font-size: var(--medium-text);
  }
  .faq .rentalText {
    padding: 20px;
    display: block;
    text-align: right;
    top: 10%;
  }
}