/* Import Local CSS */
@import url('/css/reset.css');
@import url('/css/variables.css');
@import url('/css/navigation.css');
@import url('/css/footer.css');

.ticket_history {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid red; */
  color: var(--dark-blue);
  font-family: var(--Main-kr);
}

.ticket_history .title {
  text-align: center;
  font-size: var(--medium-title);
  margin-top: 140px;
  margin-bottom: 10px;
}
.ticket_history .subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.ticket_history hr {
  width: 1200px;
  margin: 0 auto;
}

.history_inner { 
  /* border: 4px solid yellowgreen; */
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px auto 0;
  font-size: var(--medium-text);
}

.history_detail {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}
.history_right {
  margin-left: 40px;
  font-size: var(--small-title);
  font-weight: bold;
}
.history_right_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}
.history_right_detail .times {
  font-size: var(--small-title);
  font-weight: bold;
}

.btns_go_to {
  margin-top: 50px;
}

.btn_go_to_rental {
  display: none;
}
.btn_go_to_buy {
  display: block;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  margin: 10px auto 30px;
  font-size: var(--large-text);
  font-weight: bold;
  cursor: pointer;
}

/* 미디어 쿼리 */
@media all and (max-width:767px) {
  .ticket_history {
    height: calc(100vh - 120px);
    /* border: 5px solid red; */
    margin-top: 110px;
  }
  .ticket_history .title {
    text-align: center;
    font-size: var(--small-title);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ticket_history .subtitle {
    text-align: center;
    font-size: var(--medium-text);
    margin-bottom: 4px;
  }
  .ticket_history hr {
    width: 300px;
    margin: 0 auto;
  }
  .history_inner { 
    /* border: 4px solid yellowgreen; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto 0;
    font-size: var(--medium-text);
  }

  .history_detail {
    width: 80%;
    height: 90px;
    box-shadow: 0 0 3px #ccc;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .history_right {
    margin-left: 16px;
    font-size: var(--large-text);
    font-weight: bold;
  }
  .history_right_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    font-size: var(--small-text);
  }
  .history_right_detail .times {
    font-size: var(--large-text);
    font-weight: bold;
  }


  .one_left, .three_left {
    background-color: #ccc;
  } 
  .btns_go_to {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 14px;
    gap: 10px;
  }
  .btn_go_to_rental {
    display: inline;
    width: 140px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    margin: 10px auto 30px;
    font-size: var(--medium-text);
    font-weight: bold;
  }
  .btn_go_to_buy {
    display: inline;
    width: 140px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    margin: 10px auto 30px;
    font-size: var(--medium-text);
    font-weight: bold;
  }
}